{{extend 'layout.html'}}

{{=form}}
<h4>Weekly Calendar</h4>
Current Events

<ul>
{{for event in event:}}
    <a href="{{=URL('event', args=event.id)}}">
        <div style="border-style:solid; border-width:1px; margin-top:10px; ">
            <ul style="list-style-type:none;">
                {{=H6(event.name)}}
                {{=LI(event.date_time)}}
                {{=LI(event.location)}}
                {{=LI(event.host.first_name+' '+event.host.last_name)}}
                {{=LI(event.posting_date)}}
                {{=LI(event.host.gender)}}

                {{if (event.host.id) == (auth.user_id): }}
                    {{=A('Delete Event', _href=URL('delete', args=[event.id]))}} <br/>
                    {{=A('Edit Event', _href=URL('event_edit', args=[event.id]))}} <br/>
                    
                {{elif user != None: }}
                    {{=P('drop down menu')}}
                    {{#participation_form}}
                    
                {{else: }}
                    
                    {{=A('Join', _href=URL('join', args=[event.id, auth.user_id]))}} <br/>
                {{pass}}
            </ul>
      </div>
    </a>
{{pass}}
</ul>
<br>
<br>


{{= A('Create New Event', _href=URL('create')) }}
<br>
{{= A('View your profile', _href=URL('userinfo',args=user.username)) }}
<br>

<h3> Search for events </h3>
<div class="ui-widget">
{{=search_form}}<br/>
{{=target_div}}
</div>
