{{extend 'layout.html'}}


<div class="span12 marginleft_none" id="header-image"> 
	<img src="/uLeague/static/images/home_header_image2.jpg" alt="">
	<div id="caption">
		<h1>
            All your links </br>
            <small>Organized, archived and searchable</small>
        </h1>
		  <p>{{=A('Sign up for free', _href=URL('user/register'), _class='btn btn-success btn-large')}}</p>
	</div>

</div>


<div class="marketing">
	<div class="row-fluid features">
		<div class="span4 inner-features">
			<img src="/uLeague/static/images/feature1.png" alt="">
			<h2>Play</h2>
			<p>Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, 
				is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the web.
			</p>
		</div>
		<div class="span4 inner-features">
			<img src="/uLeague/static/images/feature1.png" alt="">
			<h2>Organize</h2>
			<p>Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, 
				is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the web.
			</p>
		</div>
		<div class="span4 inner-features">
			<img src="/uLeague/static/images/feature1.png" alt="">
			<h2>Connect</h2>
			<p>Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, 
				is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the web.
			</p>
		</div>
	</div>
</div>




	<div class="span4 get-started">
          <h3>United we play. United we win.</h3>
          {{=A('Get started today', _href=URL('home'), _class='btn btn-success btn-large')}}
	</div>
