{{extend 'layout.html'}}


<div class="span12 marginleft_none" id="header-image"> 
	<img src="/uLeague/static/images/home_header_image.jpg" alt="">
	<div id="caption">
		<h1>
            uLeague</br>
            <small>Home to everything sports</small>
        </h1>
		  <p>{{=A('Sign up for free', _href=URL('user/register'), _class='btn btn-success btn-large')}}</p>
	</div>

</div>


<div class="marketing">
	<div class="row-fluid features">
		<div class="span4 inner-features">
			<img src="/uLeague/static/images/feature_play.png" alt="">
			<h2>Play</h2>
			<p>Find players, teams and games or just see what's happening in your area. 
				Finding sport events has never been easier.
			</p>
		</div>
		<div class="span4 inner-features">
			<img src="/uLeague/static/images/feature_orgaznize.png" alt="">
			<h2>Organize</h2>
			<p>Organize your games and sports life. No matter how many sports interests you have, uLeague helps you get your training sessions in order.
			</p>
		</div>
		<div class="span4 inner-features">
			<img src="/uLeague/static/images/feature_connect.png" alt="">
			<h2>Connect</h2>
			<p>Find friends you know, meet new people with the same sports interests and start your own teams - all in one platform.
			</p>
		</div>
	</div>
</div>




	<div class="span4 get-started">
          <h3>United we play. United we win.</h3>
          {{=A('Get started today', _href=URL('home'), _class='btn btn-success btn-large')}}
	</div>
