{{extend 'layout.html'}}
<body>
<h3>Profile</h3><br>
<img id="profile" src="{{=URL('download',args=user.profile_pic)}}" /><br>
User Name: {{=user.username}}<br>
Name: {{=user.first_name}} {{=user.last_name}}<br>
Gender: {{=user.gender}}<br>
Date Of Birth: {{=user.dob}}<br>
Phone Number: {{=user.phone_number}}<br>
<hr>
{{for sportskill in sportskill:}}
    <div class="event_border span3">
    {{if user.username == auth.user.username:}}
        {{if sportskill.person == user.id:}}
            Sport: {{=sportskill.sport.sport}}<br>
            Level: {{=sportskill.level}}<br>
            Position: {{=sportskill.position}}<br>
    <a href="{{=URL('edit_skills',args=(user.username, sportskill.id))}}">Edit</a><br>
        {{pass}}
    {{else:}}
            {{if sportskill.person == user.id:}}
                Sport: {{=sportskill.sport}}<br>
                Level: {{=sportskill.level}}<br>
                Position: {{=sportskill.position}}<br>   
            {{pass}}
    {{pass}}
    </div>
{{pass}}

<hr>
{{if user.username == auth.user.username:}}
<a href="{{=URL('add_skill',args=(user.username))}}">Add New Sport</a><br>
<a href="{{=URL('user/profile',vars=dict(_next=request.env.path_info))}}">Edit Profile</a><br>
{{pass}}
<a href="{{=URL('home')}}">Home</a>
<a href="{{=URL('create')}}">Create Event</a>
</body>
<script>
var max_size = 200;
$("img").each(function(i) {
	if ($(this).height() > $(this).width()) {
		var h = max_size;
		var w = Math.ceil($(this).width() / $(this).height() * max_size);
	} else {
		var w = max_size;
		var h = Math.ceil($(this).height() / $(this).width() * max_size);
	}
	$(this).css({ height: h, width: w });
});
</script>
