html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: repeat;
}
.site-map {
  margin: 0;
  margin-left: 390px;
  padding: 0;
}
.site-map li {
  display: inline;
  padding: 0;
  margin: 0 10px;
}
.navbar-inner {
  color: #333;
}
.marginleft_none {
  margin-left: 0px;
}
hr {
  border-color: #DDD;
  margin-top: 0px;
}
.fix-btn {
  margin-top: -8px;
}
.form-header {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
#web2py_user_form {
  width: 50%;
  margin: 0 auto;
}
#web2py_user_form #auth_user_password_two__row .w2p_fc {
  display: none;
}
#header-image {
  float: left;
}
#header-image img {
  opacity: 1.5;
}
#header-image #caption {
  color: white;
  width: 300px;
  padding: 2px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  top: -260px;
  left: 100px;
}
#header-image #caption small {
  color: white;
  font-size: 24px;
  font-weight: lighter;
}
.marketing {
  float: left;
}
.features {
  margin-top: -100px;
  color: #EEE;
}
.features img {
  display: block;
  margin: 0 auto;
}
.features h2 {
  font-weight: 200;
  font-size: 31.5px;
  text-align: center;
}
.features .inner-features p {
  font-size: 15px;
  color: #DDD;
  text-align: center;
  padding: 0 30px;
}
.get-started {
  margin-left: 400px;
  margin-top: 50px;
}
.get-started h3 {
  text-align: center;
  font-weight: normal;
  font-size: 27px;
}
.get-started a {
  display: block;
  margin: 0 auto;
}
.event_border {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #DDD;
  margin-left: 69px;
}
.upcoming-events-outer {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #DDD;
  padding: 0px 15px;
}
.event-recommendation {
  opacity: 0.99;
  padding: 0px 10px;
  border: solid 1px #DDD;
  border-radius: 5px;
  margin-left: 15px;
}
.event-recommendation hr {
  border-color: #DDD;
}
.event-recommendation .event-recommendation-info {
  float: left;
  background-color: #777;
  width: 260px;
  height: 122px;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.event-recommendation .event-recommendation-info a:hover {
  color: #DDD;
}
.event-recommendation .event-recommendation-info a:link {
  text-decoration: none;
}
.event-recommendation .event-recommendation-info p {
  margin: 0 0;
}
.upcomingevent-border {
  background-color: #777;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #DDD;
  margin: 10px 0px;
  padding: 10px 0px;
}
.event-search {
  margin-bottom: 20px;
}
.event_border {
  border: solid 1px #DDD;
  border-radius: 5px;
  background-color: #777;
  margin-top: 10px;
  padding: 10px 0px;
}
.event_filter {
  opacity: 0.99;
  padding: 10px 10px;
}
.event_filter hr {
  border-color: #DDD;
}
.event_filter #filter-buttons {
  padding-left: 40px;
}
.event_filter #filter-buttons a {
  margin-right: 15px;
}
.event-pic {
  margin-left: 20px;
  float: left;
  overflow: hidden;
  /* this is important */

}
.event-pic img {
  width: 200px;
}
.event-info {
  float: left;
  width: 500px;
  height: 182px;
  margin-left: 20px;
}
.event-info a:hover {
  color: #DDD;
}
.event-info a:link {
  text-decoration: none;
}
.pagination {
  margin-top: 15px;
}
#eventinfo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.event_image {
  width: 200px;
  height: 200px;
}
#participation_form {
  margin-top: 10px;
}
.event-image {
  float: left;
  overflow: hidden;
  /* this is important */

  border: 4px solid #FFF;
  margin-bottom: 20px;
}
.event-image img {
  width: 270px;
  margin: -30px -15px -60px 0px;
}
#event-informations #participation_id__row {
  display: none;
}
.event-btn {
  margin: 10px 0px;
}
#calendar-container {
  margin-top: -25px;
}
#weekly-calendar {
  text-align: center;
  font-size: 13px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  width: 900px;
  margin: 0 auto;
}
#weekly-calendar h2 {
  font-size: 20px;
}
.fc-state-highlight {
  background: #999;
}
.fc-event-skin {
  border-color: #4282D3;
  background-color: #4282D3;
  margin-bottom: 5px;
}
.fc-event-skin .fc-event-time {
  float: left;
}
.info_table {
  margin-top: -10px;
  margin-bottom: 15px;
}
.info_table h6 {
  font-weight: 550;
}
#basic-informations {
  height: 385px;
}
.user-schedule {
  opacity: 0.99;
  padding: 0px 10px;
  border: solid 1px #DDD;
  border-radius: 5px;
  margin-left: 28px;
}
.user-schedule hr {
  border-color: #DDD;
}
.user-schedule .event-recommendation-info {
  float: left;
  background-color: #777;
  width: 260px;
  height: 122px;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.user-schedule .event-recommendation-info a:hover {
  color: #DDD;
}
.user-schedule .event-recommendation-info a:link {
  text-decoration: none;
}
.user-schedule .event-recommendation-info p {
  margin: 0 0;
}
.sport-skills {
  opacity: 0.99;
  border: solid 1px #DDD;
  border-radius: 5px;
  margin-left: 15px;
}
.sport-skills h5 {
  margin-left: 10px;
}
.sport-skills hr {
  margin: 0px 10px;
  margin-bottom: 20px;
  border-color: #DDD;
}
.sport-skills .individual-skill {
  float: left;
  background-color: #777;
  width: 120px;
  height: 100px;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.sport-skills .individual-skill a:hover {
  color: #DDD;
}
.sport-skills .individual-skill a:link {
  text-decoration: none;
}
.sport-skills .individual-skill p {
  margin: 0 0;
  text-align: center;
}
.sport-skills .individual-skill h3 {
  margin: 0 0;
  text-align: center;
}
.edit-profile-btn {
  float: right;
  position: relative;
  top: -30px;
  left: 30px;
}
.label {
  display: block;
}
.sport-skill-btn {
  text-align: center;
}
